.overview {
  margin: var(--margin-3) 0;
  display: block;
  color: var(--color-blue-2);

  &__grids {
    margin-top: var(--margin-1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--padding-2);
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 0.5fr;
    padding: var(--padding-1);
    background-color: var(--color-blue-4);
    border-radius: 20px;
  }

  &__icon {
    grid-row: 1 / 4;
    height: 5rem;
  }

  &__title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 18px;
    font-weight: 450;
    color: var(--color-blue-5);
  }

  &__value {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 25px;
    font-weight: 700;
    color: var(--color-blue-2);
  }
}
