.basicInfo {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--padding-1);
  border-bottom: 1px solid var(--color-quaternary);
  &__degree {
    &__icon {
      font-size: 50px;
      margin-right: 10px;
    }
    &__text {
      margin-top: 0.5rem;
      font-size: 2rem;
      font-weight: 200;
      color: #fff;
      position: relative;
      span {
        position: absolute;
        transform: translateY(-0.5rem);
      }
    }
  }
  &__description {
    font-size: 20px;
  }
}
