@import '../../responsive.scss';

.sun-info {
  display: block;
  color: var(--color-blue-2);
  @include mdScreen {
  }

  &__grids {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    @include xxlScreen {
      display: grid;
      gap: var(--padding-2);
      grid-template-columns: 1fr;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 0.5fr;
    padding: var(--padding-1);
    background-color: var(--color-blue-6);
    border-radius: 20px;
    width: 49%;
    @include xxlScreen {
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      align-items: center;
    }

    @include mdScreen {
      text-align: center;
    }

    @include xsScreen {
      text-align: left;
      padding-left: unset;
    }
  }

  &__icon {
    grid-row: 1 / 4;
    height: 3rem;
    margin-right: 15px;
    filter: var(--shadow-svg);
    @include xxlScreen {
      grid-column: 1 / 2;
      height: 3rem;
    }
    @include mdScreen {
      margin: 0 auto;
    }
  }

  &__title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 18px;
    font-weight: 450;
    color: var(--color-blue-2);
    &--rise {
      color: gold;
    }
    &--set {
      color: var(--color-secondary);
    }

    @include xxlScreen {
      grid-column: 2 / 3;
      grid-row: 1;
    }
  }

  &__value {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 25px;
    font-weight: 700;
    color: var(--color-blue-2);
    @include xxlScreen {
      grid-column: 3 / 4;
      grid-row: 1;
    }
  }
}
