{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "@animated": "./src/assets/animated",
          "@api": "./src/api",
          "@components": "./src/components"
        }
      }
    ]
  ]
}
