{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src",
                    "@animated": "./src/assets/animated"
                }
            }
        ]
    ]
}
