.search-tag {
  display: flex;

  &__input {
    background-color: var(--color-blue-4);
    border: none;
    padding: var(--padding-1);
    outline: none;
    font-size: 1.2rem;
    font-family: monospace;
    margin-right: 1rem;
    border-radius: 20px;
  }

  &__button,
  &__location {
    height: 40px;
    width: 40px;
    border: 1px solid var(--color-blue-3);
    border-radius: 20px;
    box-shadow: 0 0 7px var(--color-blue-3);
    margin: 0.5rem;
    outline: none;
    cursor: pointer;
    color: var(--color-quaternary);
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--color-blue-1);
      transform: translateY(-3px);
    }
  }

  &__icon {
    height: 25px;
    width: 25px;
  }
}
