@import '../../responsive.scss';

.search-tag {
  display: flex;
  @include xlScreen {
    width: 100%;
  }

  &__input {
    background-color: var(--color-blue-4);
    border: none;
    padding: var(--padding-1);
    outline: none;
    font-size: 1.2rem;
    font-family: monospace;
    margin-right: 1rem;
    border-radius: 20px;
    @include xlScreen {
      width: 70%;
    }

    @include mdScreen {
      width: 85%;
      font-size: 24px;
    }

    @include smScreen {
      width: 70%;
    }

    @include xsScreen {
      font-size: 18px;
    }
  }

  &__button,
  &__location {
    height: 40px;
    width: 40px;
    border: 1px solid var(--color-blue-3);
    border-radius: 20px;
    box-shadow: 0 0 7px var(--color-blue-3);
    margin: 0.5rem;
    outline: none;
    cursor: pointer;
    color: var(--color-quaternary);
    transition: all 0.3s ease-in-out;

    @include mdScreen {
      height: 50px;
      width: 50px;
    }

    &:hover {
      color: var(--color-blue-1);
      transform: translateY(-3px);
    }
    &[button-title]:hover:after {
      opacity: 1;
      transition: all 0.1s ease 0.5s;
      visibility: visible;
    }
    &[button-title]:after {
      content: attr(button-title);
      background-color: var(--color-blue-3);
      border-radius: 20px;
      color: #111;
      font-size: 130%;
      z-index: 999;
      position: absolute;
      padding: 1px 10px;
      bottom: -2em;
      left: 50%;
      white-space: nowrap;
      box-shadow: 1px 1px 3px #222222;
      opacity: 0;
      border: 1px solid #111111;
      visibility: hidden;
    }
    &[button-title] {
      position: relative;
    }
  }

  &__icon {
    height: 25px;
    width: 25px;

    @include mdScreen {
      height: 30px;
      width: 30px;
    }
  }
}
