@import '../../responsive.scss';

.search {
  width: 100%;
  height: var(--height-1);
  display: flex;
  @include xxlScreen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: unset;
  }

  @include mdScreen {
    grid-gap: var(--gap-1);
  }

  &__date {
    font-weight: 700;
    color: var(--color-blue-2);
    @include xxlScreen {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
    @include xlScreen {
      grid-column: 1 / 2;
    }
    @include mdScreen {
      font-size: larger;
    }
  }

  &__day {
    color: var(--color-quaternary);
    font-size: 15px;
    font-weight: 500;
  }

  &__interaction {
    margin: auto;
    height: 55px;
    display: flex;
    align-items: center;
    @include xxlScreen {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    @include xlScreen {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      width: 100%;
    }
  }

  &__degree {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-quaternary);
    @include xxlScreen {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    @include xlScreen {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin-left: auto;
    }
  }

  &__icon {
    margin: 0 0.3rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    @include mdScreen {
      font-size: 36px;
    }
    &:hover {
      color: var(--color-blue-1);
      transform: translateY(-3px);
    }

    &--active {
      color: var(--color-blue-1);
    }
  }
}
