.locationInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--height-1);

  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
  }

  &__clock {
    font-weight: 100;
    font-size: 1.5rem;
    color: #fff;
  }
}
